<div class="col">
  <div class="card shadow-sm">
    <img class="img-fluid" src="{{ post.image }}" alt="" width="100%" height="225">
    <div class="card-body">
      <p class="card-text">{{ post.text }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center text-muted">
          <span (click)="likePost(post)" class="me-2" role="button"><i class="fs-5 lh-sm bi bi-heart"></i></span>
          <small>{{ post.likes }}</small>
        </div>
        <small class="text-muted">9 min</small>
      </div>
    </div>
  </div>
</div>
